<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <title>Rubble</title>
</head>
<body>
    <header>
        <nav class="nav-extended  deep-purple darken-1">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Rubble</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Sign in </a></li>
                <li><a href="#">Sign in</a></li>
                
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align  deep-purple-text text-darken-1 ">Rubble</h4></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Sign in </a></li>
            <li><a href="#">Sign in</a></li>
          </ul>
    </header>
    {% block content %}
    {% endblock %}



    {% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/256864fd36.js" crossorigin="anonymous"></script>
    <script type="text/javascript"> document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, options);
    });
    </script>
    {% endblock  %}

</body>
</html>